* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.05em;
  line-height: 1.35em;
}

img {
  pointer-events: none;
  display: block;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.45em;
}

main {
  padding: 80px 50px;
  min-height: calc(100vh - 220px);
}

a {
  color: unset;
  text-decoration: none;
}

input[type=file] {
  display: none;
}

.link--active {
  color: #c2c2c2;
  text-decoration: underline;
}

.input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.submit-input {
  width: 205px;
  border: none;
  background: #e7e7e7;
}

.submit-button {
  width: 120px;
  background: unset;
  border: none;
}

.select {
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
}

.error-login {
  margin-top: 30px;
  text-align: center;
}

.footer {
  background-color: #000;
  height: 60px;
}

.delete {
  padding: 20px;
}

.link:hover {
  text-decoration: underline;
}

.title + div {
  margin-top: 20px;
}

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.1);
  height: 55px;
  color: #fff;
  transition: 0.45s;
}
.header__burger-menu-item {
  display: inline-block;
  background: #fff;
  width: 100%;
  height: 3px;
  transition: transform 0.35s;
  transform-origin: bottom left;
}
.header__burger-menu::before {
  transition: 0.35s;
  content: "";
  background: #fff;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  transform-origin: top left;
}
.header__burger-menu {
  width: 50px;
  height: 36px;
  position: absolute;
  left: 0;
  display: none;
  margin: 20px;
}
.header__skip-link {
  position: absolute;
}
.header__skip-link:not(:focus) {
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form {
  border-radius: 30px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form__label {
  margin-top: 10px;
}
.form__button {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 10px;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__link {
  padding-right: 20px;
}
.navigation__link:hover {
  transition: 1s;
  color: #d4d4d4;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profile__data {
  display: flex;
  flex-wrap: wrap;
}
.profile__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
}
.profile__upload-label {
  background: #e7e7e7;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 200px;
}
.profile__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px 20px 0;
  border: 2px solid rgba(255, 255, 255, 0.15);
}
.profile__item {
  border: none;
  outline: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding: 10px 0 0 5px;
  width: 200px;
  background: unset;
}
.profile__form-data {
  display: flex;
  flex-direction: column;
}
.profile-delete {
  padding: 20px 0 20px 0;
}

.text--decoration-underline {
  text-decoration: underline;
}

.ticket__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  min-height: calc(100vh - 210px);
}
.ticket__item {
  width: 430px;
  height: 260px;
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.ticket__print {
  margin-top: 20px;
  width: 150px;
  border: none;
}

.clubs__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
.clubs__item {
  position: relative;
  padding: 5px;
  padding: 5px;
  margin: 10px;
  width: 300px;
  height: 360px;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
}
.clubs__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}
.clubs__subtitle {
  margin: 10px 0 20px 10px;
}
.clubs__image {
  width: 270px;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.clubs__address {
  word-wrap: break-word;
}

@media (max-width: 767.99px) {
  .header__burger-menu {
    display: unset;
    z-index: 2;
  }

  .main {
    min-height: calc(100vh - 60px);
    padding: 60px 10px;
  }

  .navigation {
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
  .navigation__link {
    padding-right: unset;
  }
  .navigation--active {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
  }

  .body--stop-scroll {
    overflow: hidden;
  }

  .burger--active.header__burger-menu::before {
    transform: rotate(17deg);
  }

  .burger--active .header__burger-menu-item {
    transform: rotate(-17deg);
  }

  .profile__image {
    margin: auto;
  }

  .clubs__wrapper {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */