*, ::before, ::after{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.06em;
    line-height: 1.35em;
    box-sizing: unset;
}

img{
    pointer-events: none;
    display: block;
}

h1, h2, h3 {
    font-weight: 600;
}

body{
    font-size: 1.06em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.35em;
}

.main{
    padding: 80px 50px;
    min-height: calc(100vh - 220px);
    overflow-x: hidden;
}

.input-item{
    border: none;
    outline: none;
    width: min-content;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding: 10px 0 0 5px;
    width: 200px;
    background: unset;
}

.add{
    &__form{
        display: none;
        &--active{
            display: flex;
            flex-direction: column;
        }
    }
    &__submit-input{
        margin-top: 20px;
    }
    &__button{
        border: none;
        outline: none;
    }
    &__upload-label{
        margin-bottom: 20px;
    }
}


a{
    color: unset;
    text-decoration: none;
}

.home{
    margin: -45px -50px;
    &__title{
        position: absolute;
        z-index: 5;
        left: calc(50% - 124px);
        top: 95px;
        color: #fff;
    }
    &__club-item{
        padding: 5px;
        margin: 10px;
        width: 300px;
        height: 360px;
    }
    &__club-ddress{
        margin-left: 16px;
    }
    &__subtitle{
        padding-top: 20px;
    }
    &__count-club{
        text-align: center;
    }
}

a:hover{
    text-decoration: underline;
    color: #000
}

input[type="file"] {
    display: none;
} 

.link--active{
    color:#c2c2c2;
    text-decoration: underline;
}

.input{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.submit-input{
    width: 200px;
    border: none;
    background: #e7e7e7;
}

.submit-button{
    width: 120px;
    background: unset;
    border: none
}

.select{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    overflow: hidden; 
}
option{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.error-login{
    margin-top: 30px;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer{
    background-color: #000;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &__link:hover{
        text-decoration: underline;
        color: unset;
    }
}

.delete{
    padding: 20px;
}


.title + div{
    margin-top: 20px;
}

.subtitle{
    text-align: center;
    padding-bottom: 20px;
}

.upload-label{
    background: #e7e7e7;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.header{
    background: rgba(0, 0, 0, 0.925);
    position: fixed;
    width: 100%;
    z-index: 7;
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.1);
    height: 55px;
    color: #fff;
    transition: 0.45s;
    &__burger-menu-item{
        display: inline-block;
        background: #fff;
        width: 100%;
        height: 3px;
        transition: transform .35s;
        transform-origin: bottom left;
        
    }

    &__burger-menu::before{
        transition: .35s;
        content: '';
        background: #fff;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        transform-origin: top left;
    }

    &__burger-menu{
        width: 50px;
        height: 36px;
        position: absolute;
        left: 0;
        display: none;
        margin: 20px;
    }

    &__skip-link{
        position: absolute; 
        &:not(:focus) { 
            overflow: hidden;
            clip-path: inset(100%); 
            margin: -1px;
          }
    }
    
}

.form-wrapper{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form{
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__label{
        margin-top: 10px;
    }
    &__button{
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 10px;
    }
}

.navigation{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__link{
        padding-right: 20px;
        &:hover{
            transition: 1s;
            color: #d4d4d4;
        }
    }
}

.profile{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__data{
        display: flex;
        flex-wrap: wrap;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100px;
    }
    
    &__image{
        width: 185px;
        height: 185px;
        border-radius: 100%;
        object-fit: cover;
        margin: 0 30px 20px 0;
        border: 2px solid rgba(255, 255, 255, 0.15);
    }

    &__form-data{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    &-delete{
        padding: 20px 0 20px 0;
    }
    
}

.text--decoration-underline{
    text-decoration: underline;
}

.ticket{
    &__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 220px);
    }
    &__item{
        max-width: 430px;
        min-width: 240px;
        height: 260px;
        background: #000;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
    &__print{
        margin-top: 20px;
        width: 150px;
        border: none;
    }
}

.clubs{
    &__item{
        position: relative;
        padding: 5px;
        margin: 10px;
        width: 300px;
        height: 360px;
        background: #fff;
        background-clip: padding-box; 
        border: solid 5px transparent; 
        border-radius: 1em;
        &::before{
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -5px; 
            border-radius: inherit; 
            background: linear-gradient(to right, red, orange);
        }
    }
    &__image{
        width: 270px;
        height: 200px;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    &__address{
        word-wrap: break-word;
    }
}

.trainers{
    &__item{
        border-radius: 1em;
        box-shadow: 1px 10px 13px 3px rgba(34, 60, 80, 0.2);
        height: 490px;
        width: 270px;
        padding: 10px 25px 45px 25px;
        margin: 10px;
        background: #fff;
    }
    &__image{
        width: 220px;
        margin: auto;
        padding-bottom: 10px;
    }
}

.equipment{
    &__item{
        border-radius: 1em;
        box-shadow: 1px 10px 13px 3px rgba(34, 60, 80, 0.2);
        height: 340px;
        width: 200px;
        padding: 20px;
        margin: 10px;
        background: #fff;
    }
    &__subtitle{
        text-align: center;
    }

    &__image{
        width: 200px;
        height: 270px;

    }
}

@media (max-width: 767.99px) {
    .header__burger-menu{
        display: unset;
        z-index: 4;
    }
    .main{
        min-height: calc(100vh - 60px); 
        padding: 60px 10px; 
    }
    .navigation{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 15px;
        &__link{
            padding-right: unset;
        }
        &--active{
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.85);
            display: flex;
        }
    }
    .body--stop-scroll{
        overflow: hidden;
    }
    .burger--active.header__burger-menu::before{
        transform: rotate(22deg);
        
    }
    .burger--active .header__burger-menu-item{
        transform: rotate(-22deg);
    }

    .profile{
        &__data{
            padding-bottom: 20px;
        }
        &__image{
            margin: auto;
        }
    }
    .wrapper{
        justify-content: center;
    }

    .home{
        margin: -27px -10px;
        &__title{
            display: none;
        }
    }

    .ticket{
        &__wrapper{
            min-height: calc(100vh - 60px); 
        }
    }
    
}