*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.05em;
    line-height: 1.35em;
    overflow-x: hidden;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.45em;
}

main{
    min-height: calc(100vh - 105px);
}

a{
    color: unset;
    text-decoration: none;
}

.link-active{
    color:#c2c2c2;
    text-decoration: underline;
}

.footer{
    background-color: #000;
    height: 60px;
}

.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

.navigation__link{
    margin-right: 20px;
}
.navigation__link:hover{
    transition: 1s;
    color: #d4d4d4;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 40px;
}

.form{
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input{
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
}

.form__label{
    margin-top: 10px;
}

.submit-button{
    width: 120px;
    background: unset;
    border: none
}

.form__button{
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

.error-login{
    margin-top: 30px;
    text-align: center;
}

.profile{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile__data{
    margin-top: 20px;
    display: flex;
}

.profile__form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
    height: 100px;
}

.submit-input{
    width: 200px;
    border: none;
    background: #e7e7e7;
}

input[type="file"] {
    display: none;
} 

.file-upload {
    background: #e7e7e7;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.profile__image{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-delete{
    margin-top: 20px;
}

.delete{
    padding: 20px;
}

.profile__item{
    border: none;
    outline: none;
    width: min-content;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding: 10px 0 0 5px;
}

.profile__form-data{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
