{% extends "index.html" %}

{% block  title %}
    Клубы
{% endblock %}


{% block url %}{{url_for('clubs')}}{% endblock %}

{% block form %}
    <label><input type='text' class="add__input-item input-item" name='name' placeholder="Название" required></label>
    <label><input type="text" class="add__input-item input-item " name='address' placeholder="Адрес" required></label>
    <label class="upload-label add__upload-label">
        <input type="file" name='image' required/>
        <span>Выберете фото</span>
    </label>
    <input type="submit" value="Добавить" class='submit-input'>
    
{% endblock %}

{% block content %}
    <section class="clubs">
        <h2 class="clubs__title title">Клубы ({{count}})</h2>
        {% if not club == [] %}
        <div class="clubs__wrapper wrapper">
            {% for club in clubs %}           
                <div class="clubs__item">
                    <h3 class="clubs__name subtitle">{{club.name}}</h3>
                    <img src="../static/img/clubs/{{club.image}}" alt="{{club.name}}" class="clubs__image">
                    <p class="clubs__address"> {{club.address}} </p>
                </div>             
            {% endfor %}
        </div>
        {% endif %}

    </section>
{% endblock %}