{% extends "index.html" %}

{% block  title %}
Главная
{% endblock %}

{% block content %}
    <section class="home" >
        <h1 class="home__title title">Фитнес-центр</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators" style="z-index: 1">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/img/carousel/1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/carousel/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/carousel/3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="subtitle home__subtitle"> Наши клбуы </h2>
        <h3 class="home__count-club">Открыто: {{count}}</h3>
        <div class="clubs__wrapper wrapper">
            {% for club in clubs %}           
                <div class="home__club-item">
                    <h3 class="home__club-name subtitle">{{club.name}}</h3>
                    <img src="../static/img/clubs/{{club.image}}" alt="{{club.name}}" class="clubs__image">
                    <p class="home__club-ddress"> {{club.address}} </p>
                </div>             
            {% endfor %}
        </div>
    </section>
{% endblock %}