<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{  url_for('static', filename='style/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/icon/volleyball.svg">
    {% if request.url_rule|string == '/ticket' %}
        <link rel="stylesheet" media="print" href="{{ url_for('static', filename='style/print.css') }}">
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header">
        <a href="#main" class="header__skip-link" tabindex="0">Перейти к контенту</a>
        <div class="header__burger-menu">
            <span class="header__burger-menu-item"></span>
        </div>
        <nav class="navigation">
            
            <a href=" {{ url_for('home') }} " class="navigation__link 
            {% if request.url_rule|string == '/home' %}
                link--active
            {% endif %}">Главная</a>

            <a href=" {{ url_for('clubs') }} " class="navigation__link 
            {% if request.url_rule|string == '/clubs' %}
                link--active
            {% endif %}">Клубы</a>

            <a href=" {{ url_for('trainers') }} " class="navigation__link 
            {% if request.url_rule|string == '/trainers' %}
                link--active
            {% endif %}">Тренеры</a>


            {% if current_user.is_authenticated %}
                <a href=" {{ url_for('profile') }} " class="navigation__link
                {% if request.url_rule|string == '/profile' %}
                    link--active
                {% endif %}">Профиль</a>
            {% endif %}

            {% if not current_user.is_authenticated %}
                <a href=" {{ url_for('registration') }} " class="navigation__link
                {% if request.url_rule|string == '/registration' %}
                    link--active
                {% endif %}">Регистрация</a>
            {% endif %}

            {% if not current_user.is_authenticated %}
                <a href=" {{ url_for('loginPage') }} " class="navigation__link
                {% if request.url_rule|string == '/login' %}
                    link--active
                {% endif %}">Вход</a>
            {% endif %}

            {% if current_user.is_authenticated %}
                <a href=" {{ url_for('logout') }} " class="navigation__link
                {% if request.url_rule|string == '/logout' %}
                    link--active
                {% endif %}">Выход</a>
            {% endif %}


        </nav>
    </header>
    
    <main class="main" id="main" >

        {% if request.url_rule|string == '/clubs' or request.url_rule|string == '/trainers' %}
            <div class="main__add">
                <button class="main__add-button">Добавить запись</button>
                <form action="{% block url %}{% endblock %}" method="POST" class="main__add-form" enctype='multipart/form-data'>
                    {% block form %}

                    {% endblock %}
                </form>
            </div>       
        {% endif %}
        {% block content %}
        {% endblock %}  
    </main>     

    <footer class="footer">

    </footer>
    <script src="../static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>