{% extends "index.html" %}

{% block  title %}
    Профиль
{% endblock %}

{% block content %}

<section class="profile">
    <h1 class="title">Ваш профиль</h1>
    <div class="profile__data">
        {% for item in data %}
            <img src="{{item[6]}}" alt="profile image" class="profile__image">
            <p class="profile__name">{{item[1]}}</p>
        {% endfor %}
    </div>
    <div class="profile__update-image">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h2> {{ message }} </h2>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="" class="profile__form" method="POST" enctype='multipart/form-data'>
            <label class="file-upload">
                <input type="file" name='image'/>
                <span>Выберете фото</span>
            </label>
            <input type="submit" value="Загрузить фото" class='submit-input'>
        </form>
    </div>
</section>

{% endblock %}