{% extends "index.html" %}

{% block  title %}
    Профиль
{% endblock %}

{% block content %}

<section class="profile">
    <div class='profile__left'>
        <h2 class="title">Ваш профиль</h2>
        <div class="profile__data">
            {% for item in data %}
                <img src="{{item[6]}}" alt="profile image" class="profile__image">
                <form action="{{ url_for('profile', form_id = 1) }}" method="POST" class="profile__form-data">
                    <label for="fullname"><input type='text' class="profile__item" value="{{item[1]}}" name='fullname'></label>
                    <label for="city"><input type="text" class="profile__item" value="{{item[3]}}" name='city'></label>
                    <input type="submit" value="Изменить" class='submit-input' name="edit">
                </form>
            {% endfor %}
        </div>
        <div class="profile__update-image">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h2> {{ message }} </h2>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="" class="profile__form" method="POST" enctype='multipart/form-data'>
                <label class="profile__upload-label">
                    <input type="file" name='image'/>
                    <span>Выберете фото</span>
                </label>
                <input type="submit" value="Загрузить фото" class='submit-input'>
            </form>
        </div>
        <div class="profile-delete">
            <h3>Хотите удлаить аккаунт?</h3>
            <a href=" {{url_for('delete')}} " class="delete-link">Перейти на страницу удаления аккаунта</a>
        </div>
    </div> 
    <div class="profile__right">
        {% for item in data %}
        <h2 class="title">Абонемент</h2>
        {% if not item[4] == current_user.id %}
        <h3>У вас нет абонемента в данный момент. Хотите приобрести?</h3>
        <form action=" {{ url_for('profile', form_id = 2) }} " method="POST">
            <input type="submit" value="Приобрести" name='buy' class="submit-input">
        </form>
        {% else %}
        <div class="profile__exist-ticket">
            <p>Ваш текущий абонемент действует до: {{ item[9][:10] }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</section>

{% endblock %}