{% extends "index.html" %}

{% block  title %}
Регистрация
{% endblock %}

{% block content %}

<div class="form-wrapper">
    <form action="" class="form" method="POST">
        <label for="name" class="form__label">Имя: </label>
        <input type="text" id="name" class="input form__input" required name="name">
        <label for="age" class="form__label">Возраст: </label>
        <input type="text" id="age" class="input form__input" required name="age">
        <label for="city" class="form__label">Город: </label>
        <input type="text" id="city" class="input form__input" required name="city">
        <label for="email" class="form__label">Почта: </label>
        <input type="email" id="email" class="input form__input" required name="email">
        <label for="password" class="form__label">Пароль: </label>
        <input type="password" id="password" class="input form__input" required name="password">
        <button class="form__button submit-button" type="submit" name="submit">Отпрвить</button>
    </form>
</div>

{% endblock %}