{% extends "index.html" %}

{% block  title %}
    Тренеры
{% endblock %}

{% block url %}{{url_for('trainers')}}{% endblock %}

{% block form %}
    <label><input type='text' class="profile__item" name='name' placeholder="Имя"></label>
    <label><input type="text" class="profile__item" name='schedule' placeholder="Расписание"></label>
    <label><input type="text" class="profile__item" name='id_club' placeholder="ID клуба"></label>
    <label><input type="text" class="profile__item" name='work_experience' placeholder="Опыт работы"></label>

    <label class="upload-label">
        <input type="file" name='image'/>
        <span>Выберете фото</span>
    </label>
    <input type="submit" value="Добавить" class='submit-input main__submit-input'>
    
{% endblock %}

{% block content %}
    <section class="trainers">
        <h2 class="trainers__title title">Тренеры ({{count}})</h2>
        <h3 class="trainers__subtitle">Сумраный отыт работы {{sumExp[0][0]}} лет, максимальный у {{max[0][1]}} {{max[0][0]}} лет</h3>
        <div class="trainers__wrapper wrapper">
            {% for trainer in trainers %}
            <div class="trainers__item">
                <h3 class="trainers__name subtitle">{{trainer[1].name}}</h3>
                <img src="../static/img/trainers/{{trainer[1].image}} " alt="{{trainer[0].name}}" class="trainers__image">
                <p class="trainers__club">Клуб: {{trainer[0].name}}</p>
                <p class="trainers__schedule">Расписание: {{trainer[1].schedule}}</p>
            </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}